body {
  padding: 0px;
  margin: 0px;
}

/* container */
.minobi-parent {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}

/* seekbar */
.minobi-seekbar {
  width: 80%;
  height: 3em;
  position: absolute;
  overflow: hidden;
  left: 10%;
  bottom: 0px;
  z-index: 100;
}

.minobi-seekbar.hidden {
    animation: hide 0.5s linear 0s;
    opacity: 0;
}

@keyframes hide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.minobi-seekbar-background {
  width: 100%;
  height: 100%;
  background-color: gray;
  position: absolute;
  overflow: hidden;
  left: 0px;
  bottom: 0px;
  opacity: 0.5;
}

.minobi-seekbar-button {
  width: 1em;
  height: 3em;
  background-color: white;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  left: 0px;
  bottom: 0px;
  z-index: 101;
}

/* minobi core */
.minobi {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  overflow: hidden;
}

.manga-page {
  position: absolute;
  will-change:transform;
}

.manga-image-wrap {
  position: absolute;
}

.manga-image {

}

.manga-face {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  will-change:transform;
}

.manga-face-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}
